<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration >
     <appender name="TRAP_LOG" class="org.apache.log4j.RollingFileAppender" >
            <param name="File"   value="log/isolog/inoutisomsg.log" />
            <param name="Append" value="true" />  
            <param name="MaxFileSize" value="25MB"/>
            <param name="MaxBackupIndex" value="200"/>
		    <layout class="org.apache.log4j.PatternLayout">
	          	<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
			</layout>
    </appender>
	<logger name="iso-server" >
		<level value="DEBUG" />     
			<appender-ref ref="TRAP_LOG"/>
	</logger> 
</log4j:configuration>